html {
  --primary-color: #88aed0;
  --secondary-color: #848484;
  --white: #fff;
  --off-white: #f4f4f4;
  --light-gray: #c4c4c4;
}

.App {
  text-align: center;
}

.App.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}
