.header {
  width: 100%;
  height: fit-content;
  padding: 50px 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  border-bottom: 5px solid black;
  flex-direction: row;
  justify-content: center;
}

#header-photo,
#header-text {
  margin: 0 50px;
}

#header-photo {
  height: 300px;
  width: auto;
  box-shadow: -20px -10px 0 0px #f4f4f4, -20px -10px 0 5px #88aed0,
    2px 1px 2px 0px #0f0f0f10;
}

#header-text {
  max-width: 350px;
}

#header-text > h1 {
  display: block;
  color: white;
  text-transform: uppercase;
  background-color: #88aed0;
  font-family: Roboto, futura-pt, Futura, sans-serif;
  padding: 10px 15px;
  font-size: 30px;
  /* border-radius: 10px; */
  box-shadow: -20px -10px 0 0px #f4f4f4, -20px -10px 0 5px #949494,
    2px 1px 2px 0px #0f0f0f10;
}

#header-text > p {
  color: #949494;
  font-size: 20px;
  font-family: Roboto, futura-pt, Futura, sans-serif;
  text-align: left;
  position: relative;
  left: -2px;
}
